<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid   justify-content-around">
        <ul class="navbar-nav list-group list-group-horizontal container-fluid justify-content-around">
            <li class=" nav-item"><a href="index.php?table=category&action=list" class="nav-link">Category</a></li>
            <li class=" nav-item"><a href="index.php?table=prospect&action=list" class="nav-link">Prospect</a></li>
            <li class=" nav-item"><a href="index.php?table=client&action=list" class="nav-link">Client</a></li>
        </ul>
    </div>
</nav>